/* styles/Home.module.css */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.header {
    margin-bottom: 40px;
    background-image: url('https://cdn.pixabay.com/photo/2022/06/30/02/00/mountains-7292778_1280.jpg');
    background-size: contain; /* 또는 cover */
    background-position: center; /* 배경 이미지 위치 조정 */
    background-repeat: no-repeat; /* 반복하지 않도록 설정 */
    color: white; /* 텍스트 색상 */
    padding: 40px; /* 패딩 추가 */
    position: relative; /* 위치 설정 */
}

.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3); /* 반투명 검정색 배경 (투명도 조정) */
    z-index: 1; /* 텍스트 위에 오도록 설정 */ 
}

.header h1, .header p {
    position: relative; /* 텍스트를 위로 올리기 */
    z-index: 2; /* 텍스트가 배경 위에 오도록 설정 */
}

.title {
    font-size: 4rem; /* 제목 크기 증가 */
    font-weight: bold; /* 제목 두께 */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* 텍스트 그림자 */
    color: white; /* 텍스트 색상 */
}

.viewPosts {
    padding: 10px 20px;
    background-color: #0070f3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px; /* 버튼 위에 공간 추가 */
}

.cardContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    border: 1px solid #ccc;
    margin: 10px;
    padding: 20px;
    width: 300px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

.category {
    background-color: #f0f0f0;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
    font-weight: bold;
}
